# **Introduction & Basic**

## Variable Declaration & Memory Allocation

### Condition :

1. variable name should start with lower case character
2. digits are allowed but not at the start character
3. _ (underscore) are allowed but it should used for special meaning / define

In [1]:
first_number = 10
second_number = 20
addition = first_number + second_number
print(addition)

30

### print type

1. **id()** is function returns a unique id for the specified object.
2. **type()** for see the data type of any object

In [ ]:
help(id)
help(type)

In [ ]:
a = 10
b  = 10

print(type(a), type(b))
print(id(a), id(b))

## Buildin Python Datatypes

### 1. Int
number

In [ ]:
help(int)

In [ ]:
print(dir(int))

In [ ]:
num1 = 100
print(num1, type(num1))

### 2. float
number with decimal

In [ ]:
help(float)

In [ ]:
print(dir(float))

In [ ]:
num2 = 15.25
print(num2, type(num2))

### 3. str
string can use 'single quote' or "double quote"

In [ ]:
help(str)

In [ ]:
print(dir(str))

In [ ]:
string1 = 'Python using single quote are the same with'
string2 = "Python using double quote"
string3 = "'Python' are string"
print(string1, type(string1))
print(string2, type(string2))
print(string3, type(string3))

### 4. list[]
anything with parentheses or round bracket is 'list'
list data can be change (add, update or delete)

In [ ]:
help(list)

In [ ]:
print(dir(list))

In [ ]:
list = [10, 20, 30, 40, 50, "apple", "orange"]
print(list)

# .append() is to add something to the list
list.append("pear")
print(list)

### 5. tuple()
anything with square or box bracket is 'tuple'
Tuple data can't be change(add, update or delete)

In [ ]:
help(tuple)

In [ ]:
print(dir(tuple))

In [ ]:
tuple = (10, 20, 30)

### 6. dict{}
anything with braces or curly bracket is 'dictionary'
Dictionary is data that have key and value {key: value}

In [ ]:
help(dict)

In [ ]:
print(dir(dict))

In [ ]:
dict = {'name': 'ABC', 'email': 'abc@gmail.com'}
print(dict)

### 7. set{}
set is data that only have value (different with dict)
Tuple data can't be change(add, update or delete)

In [ ]:
help(set)

In [ ]:
print(dir(set))

In [ ]:
set = {10, 20, 30, 40}
print(set)

### 8. bool : True False

In [ ]:
help(bool)

In [ ]:
print(dir(bool))

### 9. complex : 4 + 3j

In [ ]:
help(complex)

In [ ]:
print(dir(complex))

## Operators in Python

### 1. Arithmetic Operators

1. (+)
2. (-)
3. (*)
4. (/)
5. (//)
6. (%)
7. (**)

In [ ]:
num1 = 10
num2 = 3
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

### 2. Comparison Operators

1. Greater Than (<)
2. Less than (>)
3. Greater and equal (<=)
4. Less and equal (>=)
5. Equal (==)
6. Not equal (!=)

Comparison operator return output only True or False

In [ ]:
num1 = 100
num2 = 200

print(num1 < num2)
print(num1 > num2)
print(num1 <= num2)
print(num1 >= num2)
print(num1 == num2)
print(num1 != num2)

### 3. Identity Operators

1. is
2. is not

In [ ]:
num1 = 100
num2 = 100

result = num1 == num2
print('result "== operator" :', result, id(num1), id(num2))

result = num1 is num2
print('result "is operator" :', result, id(num1), id(num2))

result = num1 is not num2
print('result "is not operator" :', result, id(num1), id(num2))

list1 = [10, 20, 30]
list2 = [10, 20, 30]

result = list1 == list2
print('result list "== operator" :', result, id(list1), id(list2))

result = list1 is list2
print('result list "is operator" :', result, id(list1), id(list2))

result = list1 is not list2
print('result list "is not operator" :', result, id(list1), id(list2))


# Why is the output different between variable and list?
#  '==' will compare the value, on the other hand 'is' will compare the memory location

### 4. Assignment Operators

1. =
2. +=
3. -=
4. *=
5. /=

In [ ]:
num1 = 100
num1 = num1 + 5
print(num1)
num1 += 5
print(num1)
num1 -= 2
print(num1)
num1 *= 5
print(num1)
num1 /= 3
print(num1)

### 5. Bitwise Operators

1. (&)
2. (|)
3. (^)
4. right shift (>>)
5. left shift (<<)

In [ ]:
num1 = 2
num2 = 4

print(bin(num1), bin(num2))

print(num1 & num2)
print(num1 | num2)
print(num1 ^ num2)
print(num1 >> num2)
print(num1 << num2)

### 6. Logical Operators

1. and
2. or
3. not

![Logic Gates](https://miro.medium.com/max/720/1*4JomFrSIYLoTs_8x4ZqGNA.jpeg)

In [ ]:
print(10 == 10 and 20 == 20)
print(10 == 15 and 20 == 20)

print(10 == 10 or 20 == 20)
print(10 == 15 or 20 == 20)

print(10 == 10)
print(not(10 == 10))

### 7. Membership Operators

1. in
2. not in

In [ ]:
list = [10, 20, 30, 40, 50]
print(30 in list)
print(300 in list)

list2 = ['apple', 'manggo', 'pear', 'banana']
print('banana' in list2)
print('avocado' in list2)

# **Conditional Statements and Loops**

## Conditional Statements

### 1. if, elif, else

1. if
2. elif
3. else


if [condition]:
<br>&emsp;statements
<br>elif [condition]:
<br>&emsp;statements
<br>else:
<br>&emsp;statements

In [ ]:
num1 = 100
num2 = 100

#num1 is geater
#num2 is greater
#num1 and num2 are equal

if num1 > num2:
    print('num1 is greater than num2')
elif num2 > num1:
    print('num2 is greater than num1')
else:
    print('num1 and num2 are equal')

### 2. for loop

Iterable datatypes :
1. str
2. list
3. tuple
4. dict
5. set
6. range()

for [variable_name] in [iterable datatype]:
<br>&emsp;statements

#### Syntax

In [ ]:
list = [10, 20, 30, 40, 50]

for value in list:
    print(value)

In [ ]:
list = [10, 20, 30, 40, 50]
sum = 0
for value in list:
    sum = sum + value
    print(sum)

#if we print(sum) inside the loop it will breakdown the total sum + list for each number

In [ ]:
list = [10, 20, 30, 40, 50]
sum = 0
for value in list:
    sum = sum + value
print(sum)

#if we print(sum) outside the loop it will result only total sum + list

In [ ]:
#range(5) 0, 1, 2, 3, 4
#range(10, 20) 10, 11, 12, 13, 14, 15, 16, ..., 19
#range(10, 20, 2) 10, 12, 14, 16, 18

for a in range(10, 20, 2):
    print(a)

#why 20 not in the output/result?
#because python start from 0 not 1, so the result end number is 19 not 20

In [ ]:
sum = 0
for value in range(1, 21):
    sum = sum + value
print(sum)

#### continue, break, enumerate, pass

In [ ]:
list = [10, 20, 30, 40, 50, 60]
key = 40        #key to looking for

for search in list:
    if search == key:
        print("Element found")
        break       #for terminate/break/stop the loop
    else:
        continue    #for continue the loop

In [ ]:
list = [10, 20, 30, 40, 50, 60]
key = 25        #key to looking for

for search in list:
    if search == key:
        print('Element found')
        break       #for terminate/break/stop the loop
    else:
        continue    #for continue the loop
else:
    print('Element not found')

In [ ]:
list = [10, 20, 30, 40, 50, 60]
key = 25        #key to looking for

for search in list:
    if search == key:
        print('Element found')
        break       #for terminate/break/stop the loop
    else:
        continue    #for continue the loop
else:
    print('Element not found')
print('statement after the for loop')

In [ ]:
list = [10, 20, 30, 40, 50, 60]

for index, value in enumerate(list):
    print(index, value)

In [ ]:
l = [10, 20, 30, 40, 50, 60]
key = 30

for index, value in enumerate(l):
    if value == key:
        print('Element found at index', index)
        break
    else:
        continue
else:
    print('Element not found')

In [ ]:
l = [10, 20, 30, 40, 50, 60]
key = 60

for index, value in enumerate(l):
    if value == key:
        print('Element found at index', index)
        break
    else:
        pass
        print('statement after continue statement')
else:
    print('Element not found')

### 3. while loop

while [condition]:&emsp;&emsp;#this should True or False
<br>&emsp;statements
<br>else:

In [ ]:
#1 - 20 number

count = 1
sum = 0

while count <= 20:
    sum = sum +count
    count = count+1

print(sum)

## Python Assignment 1 - Conditional and Looping Statement

1. Write python program to find those numbers which are divisible by 7 and 5, beetween 1500 and 2700 (both included)

2. write a python program to count the number of even and odd numbers from a series of numbers.<br>
<br>
Sample Numbers:<br>
numbers = (1, 2, 3, 4, 5, 6, 7,8 ,9)<br>
<br>
Expected Output:<br>
Number of even numbers: 5<br>
Number of odd numbers: 4

3. Write a python program which iterates the integers from 1 to 50. For multiples of three print 'Fizz' instead of the number and for the multiples of five print 'Buzz. For numbers which are multiples of both three and five print 'FizzBuzz'.<br>
<br>
Sample Output:<br>
fizzbuzz<br>
1<br>
2<br>
fizz<br>
4<br>
buzz

4. Write a python program to calculate the sum and average of n integer numbers

5. Factorial of any number n is represented by n! and is equal to 1*2*3*...*n-1*n.<br>
<br>
E.G.-<br>
4! = 4 x 3 x 2 x 1 = 24<br>
3! = 3 x 2 x 1 = 6<br>
2! = 2 x 1 = 2<br>
<br>
Also,<br>
1! = 1<br>
0! = 1<br>
<br>
Write a program to calculate factorial of a number

# **Python Data Types**

## String - Closer look at python data types

### help string

In [ ]:
help(str)

In [ ]:
print(dir(str))

### Data type

1. String are immutable
2. String is ordered data structure

In [ ]:
string = 'Python sample string'
print(string, type(string))

string = "Python sample string"
print(string, type(string))

string = """Python sample string"""
print(string, type(string))

In [ ]:
s1 = 'python'
print(id(s1))

s1 = 'java'
print(id(s1))

### Indexing

In [ ]:
s1 = 'python'
print(s1[0])
print(s1[2])
print(s1[-1])       #backward
print(s1[-2])       #backward

### Slicing

In [ ]:
s = 'python'
print(s[0:3])

s = 'python'
print(s[3:])

s = 'python'
print(s[:3])

### stride

In [ ]:
s = 'this is string'
print(s[::2])       #print every 2 character
print(s[::3])       #print every 3 character
print(s[::-1])       #print backward order
print(s[::-2])       #print backward order and every 2 character backward

### format

In [ ]:
num1 = 100
num2 = 200
print('value of num1 is {}, value of num2 is {}'.format(num1, num2))
print('value of num1 is {0}, value of num2 is {1}'.format(num1, num2))
print('value of num1 is {val1}, value of num2 is {val2}'.format(val1 = num1, val2 = num2))

### capitalize | upper | lower | tittle

In [ ]:
s = 'Python sample string'
print(s)
print(id(s))

s = s.capitalize()
print(s)
print(id(s))

In [ ]:
s = 'Python sample string'

print(s.upper())
print(s.isupper())

print(s.lower())
print(s.islower())

print(s.title())
print(s.istitle())

### split | join

In [ ]:
s = 'HTML,CSS,PYTHON,JAVA,Django'

split = s.split(',')
print(split)

In [ ]:
s1 = (' ').join(split)
print(s1)

### maketrans | translate

In [ ]:
s1 = 'abcd'
s2 = '1234'

s3 = 'Python Sample string abcd'

table = str.maketrans(s1, s2)
result = s3.translate(table)

print(result)

### index | find | rfind function

In [ ]:
s = 'HTML,CSS,PYTHON,JAVA,Django,PYTHON'
print('PYTHON' in s)
print(s.index('PYTHON'))

In [ ]:
print(s.find('PYTHON'))

In [ ]:
print(s.rfind('PYTHON'))

### center | ljust | rjust

In [ ]:
s = 'python'
s1 = s.center(20,"*")
print(s1)

In [ ]:
s1 = s.ljust(20,"*")
print(s1)

In [ ]:
s1 = s.rjust(20,"*")
print(s1)

### replace

In [ ]:
s = 'HTML,CSS,PYTHON,JAVA,Django,PYTHON'
s1 = s.replace('HTML','HTML5')
print(s1)

### strip | lstrip | rstrip

In [ ]:
s = '          This is sample string    '
s1 = s.strip(' ')
print(s1)

In [ ]:
s = '********This is sample string****'
s1 = s.strip('*')
print(s1)

In [ ]:
s = '********This is sample string****'
s1 = s.lstrip('*')
print(s1)

In [ ]:
s = '********This is sample string****'
s1 = s.rstrip('*')
print(s1)

## List - Closer look at python data types

### help list

In [ ]:
help(list)

In [ ]:
print(dir(list))

### datatype

1. List are mutable - add update and delete
2. ordered indexing and slicing
3. heterogeneous datatype

In [ ]:
l = [10, 20, 30, 40, 'Python', 'Java', [100, 200, 300]]     #list inside list
print(l, type(l))

### indexing and slicing

In [ ]:
l = [10, 20, 30, 40, 'Python', 'Java', [100, 200, 300]]
print(l[0])

print(l[-1])

print(l[-1][0])     #indexin inside index

In [ ]:
print(l[0:3])

print(l[::-1])      #start backward

In [ ]:
l = [100, 200, 300, 400, 500]

for value in l:
    print(value)

for value in l[::2]:        #skip every 2 value
    print(value)

### append | extend | insert | copy

In [ ]:
l = [100, 200, 300, 400, 500]
print(l)
print(id(l))

l.append(600)
print(l)
print(id(l))

l.extend([500, 600, 700, 800])      #can add value inside element
print(l)

l.append([500, 600, 700, 800])      #only add 1 element
print(l)

l.extend('python')
print(l)

l.append('python')
print(l)

l.insert(0, 'apple')
print(l)

l.insert(5, 'orange')
print(l)

### update | pop | | remove | clear | delete

In [ ]:
l = [10, 20, 30, 40, 50]
l[2] = 300
print(l)

r = l.pop()     #remove the last element
print(l)
print(l,r)


r = l.pop(2)        #remove the third element
print(l)
print(l,r)

l.remove(20)
print(l)

In [ ]:
l = [10, 20, 30, 40, 50]

l.clear()
print(l)

In [ ]:
l = [10, 20, 30, 40, 50]

del l
print(l)

### sort | reverse | sorted | index | count

In [ ]:
l = [40, 50, 20, 30, 10]

l.sort()
print(l)

l.reverse() #or can use print(l[::-1])
print(l)

In [ ]:
l = [40, 50, 20, 30, 10]

l2 = sorted(l)
print(l2)

In [ ]:
l = [10, 20, 30, 40, 50]

print(l.index(30))

In [ ]:
l = [10, 20, 30, 30, 30, 40, 50]

print(l.count(30))

In [ ]:
l = [10, 20, 30]
l2 = [100, 200, 300]

print(l + l2)

In [ ]:
l = [10]
print(l * 10)

## Tuple - Closer look at python data types

### help tuple

In [ ]:
help(tuple)

In [ ]:
print(dir(tuple))

### datatype

1. immutable datastructure
2. ordered indexing and slicing

In [ ]:
t = (10, 20, 30, 40, 50)
print(t, type(t))

### indexing | count

In [ ]:
t = (10, 20, 30, 40, 50)

print(t[1])
print(t[-1])
print(t[3:])
print(t[:3])

In [ ]:
a = (10, 20, 20, 20, 30, 40, 40, 50)
print(a.count(20))
print(a.count(40))

In [ ]:
t = (10, 20, 30, 40, 50)
l = [10, 20, 30, 40, 50]

for t in enumerate(l):
    print(a)

for t in enumerate(l):
    print(a[0])                #if we want to see only index

for t in enumerate(l):
    print(a[1])                #if we want to see only value

## Dictionary - Closer look at python data types

### help dictionary

In [ ]:
help(dict)

In [ ]:
print(dir(dict))

### datatype

1. mutable
2. unordered
3. key should be unique  (no duplicate)
4. key should be immutable int float str tuple

In [ ]:
d = {'emp_id': 101, 'name': 'abc', 'email': 'abc@gmail.com'}
print(d)

d['contact_no'] = 123456789
print(d)

d['contact_no'] = 888888888
print(d)

### get | setdefault

In [ ]:
d = {'emp_id': 101, 'name': 'abc', 'email': 'abc@gmail.com'}
print(d.get('emp_id'))

print(d.get('age', -1))     # this to check if the data exist it will return the value but if not it will return -1

print(d.get('age', 'Key does not exist'))
print(d.get('emp_id', 'Key does not exist'))

In [ ]:
print(d.setdefault('emp_id'))
print(d.setdefault('age'))          #set default value to 'None

print(d)

In [ ]:
for x in d:
    print(x)        #return only column

In [ ]:
for key in d:
    print(key, d[key])      #return column with value

In [ ]:
d = {}

#1:2, 2:4, 3:9 ... 10:100

for value in range(1, 11):
    d[value] = value * value
print(d)

### keys | value | items

In [ ]:
print(d.keys())
print(d.values())
print(d.items())

In [ ]:
d = {'emp_id': 101, 'name': 'abc', 'email': 'abc@gmail.com'}

for t in d.items():
    print(t)

### Update | Delete

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = [1, 4, 9, 16, 25]

d = dict(zip(l1, l2))       #zip will combine 2 element having same index
print(d)

In [ ]:
l = [1, 2, 3, 4, 5]

d = dict.fromkeys(l)
print(d)

d = dict.fromkeys(l, 0)     #setting default value to 0
print(d)

In [ ]:
d1 = {1:1, 2:4, 3:9, 4:16}
d2 = {5:25, 6:36, 7:49}

d1.update(d2)       #updateing dictionary
print(d1)

### pop | popitem | clear | del

In [ ]:
d1 = {1:1, 2:4, 3:9, 4:16}

r = d1.pop(2)      #remove dictionary column 2
print(d1)

print(d1, r)        #return the value that got remove

In [ ]:
d1 = {1:1, 2:4, 3:9, 4:16}

r = d1.popitem()      #will randomly remove item from dictionary
print(d1, r)

In [ ]:
d1 = {1:1, 2:4, 3:9, 4:16}

d1.clear()    #remove all dictionary
print(d1)

In [ ]:
d1 = {1:1, 2:4, 3:9, 4:16}

del d1    #remove the table
print(d1)

## Set - Closer look at python data types

### help set

In [ ]:
help(set)

In [ ]:
print(dir(help))

### datatype

1. Sets are mutable
2. All the elements should be unique
3. immutable elements in the set (int, float, tuple, string)
4. unordered

In [ ]:
s = {10, 20, 30, 40, 50}
print(s, type(s))

s = {10, 20, 30, 40, 50, 10, 30, 40}        #only unique, cannot duplicate
print(s, type(s))

### add | update | delete

In [ ]:
s = {100, 200, 300, 400}
print(s)

s. add(500)         #adding value
print(s)

In [ ]:
s1 = {10, 20, 30, 40, 50, 60}
s2 = {40, 50, 60, 70, 80, 90}

s3 = s1.union(s2)       #combine the element but only the unique
print(s3)

In [ ]:
s1 = {10, 20, 30, 40, 50, 60}
s2 = {40, 50, 60, 70, 80, 90}

s3 = s1.intersection(s2)       #combine the element but only the common element
print(s3)

In [ ]:
s1 = {10, 20, 30, 40, 50, 60}
s2 = {40, 50, 60, 70, 80, 90}

s3 = s1.difference(s2)       #combine the element but only volue that not present in s2
print(s3)

s3 = s2.difference(s1)       #combine the element but only volue that not present in s1
print(s3)

In [ ]:
s1 = {10, 20, 30, 40, 50, 60}
s2 = {40, 50, 60, 70, 80, 90}

s3 = s1.symmetric_difference(s2)       #combine the element but only volue that present in s2 except the common
print(s3)

In [ ]:
s1 = {10, 20, 30, 40, 50, 60}
s2 = {40, 50, 60, 70, 80, 90}

print(s1)
s1.update(s2)       #will return union but will not update anything
print(s1)

s1.intersection_update(s2)      #same with intersection()
print(s1)

s1.difference_update(s2)      #same with difference()
print(s1)

s1.symmetric_difference_update(s2)      #same with symmetric_difference()
print(s1)

In [ ]:
s1 = {100, 200, 300, 400, 500}
s2 = {100, 200, 300}

print(s2.issubset(s1))      #if element in subset s2 present in element in subset s1 it will return 'TRUE'
print(s1.issuperset(s2))

s1 = {100, 200, 300, 400, 500}
s2 = {100, 200, 300, 800}

print(s2.issubset(s1))      #because 800 in s2 not present in s1 it return 'FALSE'
print(s1.issuperset(s2))

In [ ]:
l = [100, 200, 300, 400, 500]

s = set(l)
print(s)

l = [100, 200, 300, 400, 500, 100, 300]     #only return unique

s = set(l)
print(s)

For delete it similar with dictionary

## Math and Random Module

### example

In [ ]:
l = [100, 200, 300, 400, 500]
print(sum(l))

In [ ]:
l = [100, 200, 300, 400, 500]
print(max(l))

In [ ]:
l = [100, 200, 300, 400, 500]
print(min(l))

In [ ]:
num = 25.555
print(round(num))

num = 25.555
print(round(num, 2))

In [ ]:
num = 25.555
print(floor(num))

### help math and random

In [ ]:
help(math)

In [ ]:
print(dir(math))

In [ ]:
help(random)

In [ ]:
print(dir(random))

### Import math

In [ ]:
import math

l = [0.1] * 10

#difference with or without 'math'
print(l)
print(sum(l))
print(math.fsum(l))

In [ ]:
num1 = 15.55
print(math.floor(num1), math.ceil(num1))

In [ ]:
print(math.sqrt(25))

print(math.factorial(5))

print(math.pow(10, 2))

print(math.log10(2))

print(math.log2(10))

print(math.sin(30))

### import random

In [ ]:
import random

print(random.random())

In [ ]:
l = [1, 2, 3, 4, 5, 6]

print(random.choice(l))

In [ ]:
print(random.randint(1,3))      #random between 1-2

print(random.randrange(1,3))    #random between 1-3

print(random.uniform(10,20))

# **Python Function**

## User Defined Function

### user define

1. Code reuse
2. Modularity

### Func Def | Call

In [23]:
def value_reverse(value):
    reverse = value [::-1]
    print(reverse)          #return value with answer
    
def value_reverse2(value):
    reverse = value [::-1]
    return reverse          #return value without answer

def value_reverse3(value):
    if type(value)==list or type(value)==str:
        reverse = value [::-1]
    else:
        temp = str(value)
        reverse = temp[::-1]
    return reverse          #slasing operation will not work passing integer 
                            #so change to string first

In [28]:
s = 'Python'
result = value_reverse(s)
print(result, 'return with value')

result2 = value_reverse2(s)
print(result2, 'return without value')

nohtyP
None return with value
nohtyP return without value

In [22]:
list = [100, 200, 300, 400]
result = value_reverse2(l)
print(result)

[50, 40, 30, 20, 10]

In [29]:
num = 100
result = value_reverse3(num)
print(result)

001

## Parameter Passing Techniques

### Positional | Default | Keyword Parameters

In [2]:
#positional argument

def linear_search(l, key):
    for value in l:
        if key==value:
            return True
    else:
        return False

In [4]:
l = [100, 200, 300, 400, 500]
key = 400
result = linear_search(l, key)
print(result)

key = 4000
result = linear_search(l, key)
print(result)

True
False

In [9]:
#default argument

# 8 char
# 1 upper
# 1 lower
# 1 special char
# 5 digit

#ord function
#chr function

print(ord('a'), ord('z'))
print(ord('A'), ord('Z'))
print(chr(97))

97 122
65 90
a

In [36]:
import random

def generate_password():
    list = ['!', '@', '#', '$', '%', '^', '&', '*']
    upper = chr(random.randint(65, 90))
    lower = chr(random.randint(97, 122))
    special = random.choice(list)
    digit = random.randint(10000, 99999)
    password = upper + lower + special + str(digit)
    return password

def generate_password2(length=8):
    list = ['!', '@', '#', '$', '%', '^', '&', '*']
    upper = chr(random.randint(65, 90))
    lower = chr(random.randint(97, 122))
    special = random.choice(list)
    digit = random.randint(10000, 99999)
    password = upper + lower + special + str(digit)
    l = random.sample(password, length)
    password = ('').join(l)
    return password

In [39]:
result = generate_password()
print(result)

result = generate_password2()
print(result)

result = generate_password2(5)
print(result)

Rq*92209
5t*41G95
5569F

In [42]:
#keyword argument

def validate(username, password):
    if username == 'ABC' and password == 'Abc@123':
        print('Valid Password')
    else:
        print('Invalid Password')

In [46]:
validate('ABC',  'Abc@123')
validate('Abc@123', 'ABC')
validate(password = 'Abc@123', username = 'ABC')

Valid Password
Invalid Password
Valid Password

### Variable Length Positional argument | Variable Length Keyword argument

In [55]:
#Variable Length Positional argument

def add_value(*args):       #return tuple
    print(args)
    
def add_value2(*args):       #return list
    l= []
    for value in args:
        l.append(value)
    return l

In [61]:
result = add_value(100, 200, 300, 400, 500, 600, 700, 800)
print(result)

result = add_value2(100, 200, 300, 400, 500, 600, 700, 800)
print(result)

(100, 200, 300, 400, 500, 600, 700, 800)
None
[100, 200, 300, 400, 500, 600, 700, 800]

In [65]:
# Variable Length Keyword argument

# name, email, contact, dob

def get_details(**kwargs):
    print(kwargs)

In [66]:
get_details(name='ABC', email='abc@gmail.com', contact='123456789', dob='12-05-2022')
get_details(name='ABC', email='abc@gmail.com', dob='12-05-2022')
get_details(name='ABC', contact='123456789', dob='12-05-2022')

{'name': 'ABC', 'email': 'abc@gmail.com', 'contact': '123456789', 'dob': '12-05-2022'}
{'name': 'ABC', 'email': 'abc@gmail.com', 'dob': '12-05-2022'}
{'name': 'ABC', 'contact': '123456789', 'dob': '12-05-2022'}

### Recursive Functions

In [69]:
def factorial(num):
    if num == 1:
        return 1
    else: 
        return num * factorial(num - 1)

In [70]:
num1 = 5
result = factorial(num1)
print(result)

factorial(5)

# factorial(5) = 5 * fact(4)
#                     4 * fact(3)
#                             3 * fact(2)
#                                 2 * fact(1)
#                                     1

120

120

In [4]:
#recursion binary search

def binary_search(l, key):
    
    if len(l) == 0:
        return False
    else:
        mid = len(l) // 2       #if not using floor (//) then the data will return float and we want the result return in int
        
        if l[mid] == key:
            return True
        elif key < l[mid]:
            return binary_search(l[:mid], key)
        else:
            return binary_search(l[mid+1:], key)

In [5]:
l = [100, 200, 300, 400, 500, 600, 700, 800, 900]
key = 1000

result = binary_search(l, key)
print(result)

# # mid = 9 / 2 = 4 = 
# 500 == 700 True
# [600, 700, 800, 900]
# mid = 4 / 2 = 2
# 800 == 700
# mid = 2 / 2 = 1
# [700 = 700 return True]

False

# **Python Modules and Packages**

## Creating Modules and Packages

See Creating_module.py and module.py

## Regular Expression (RE) Module | Regx Meta-character

In [5]:
import re

# .             any char
# [a-z A-Z]     char class a or b or c ... or z A or B or ... Z
# [0-9]         digit class 0 or 1 or 2 ... or 9
# +             atleast one [a-z]+
# *             zero or more

# ^             start of the string
# $             end of the string

# ?             optional

# [0-9]         \d digit
# [^0-9]        \d start with digit

# [a-zA-Z0-9]   \w #anything with
#               \W anything other than

# space         \s
#               \Sanything other than

s = 'ABCDE1234A'
r = re.compile('[A-Z]{5}[0-9]{4}[A-Z]') #if only single character doen's need put {1}
l = re.findall(r, s)

print(l)

s = 'AAAABCDE1234A'
r = re.compile('[A-Z]{5}[0-9]{4}[A-Z]')
l = re.findall(r, s)

print(l)

s = 'AAAABCDE1234A'
r = re.compile('^[A-Z]{5}[0-9]{4}[A-Z]')
l = re.findall(r, s)

print(l)        #why it still blank? because every 'A' count as single character and we only want the 5 alphabet character but it has 8 character

s = 'AAAABCDE1234AAAA'
r = re.compile('[A-Z]{5}[0-9]{4}[A-Z]$')
l = re.findall(r, s)

print(l) #why it still blank? because every 'A' count as single character and we only want the first alphabet character but we have 4 character

['ABCDE1234A']
['ABCDE1234A']
[]
[]

In [12]:
s = '8123456789'
r = re.compile('[6-9][0-9]{9}')
l = re.findall(r, s)

print(l)

s = '8888123456789'
r = re.compile('^[6-9][0-9]{9}')
l = re.findall(r, s)

print(l)

s = '8888123456789'
r = re.compile('^[6-9][0-9]{9}$')
l = re.findall(r, s)

print(l)    #blank because it will only chech 10 digit, if more than blank

['8123456789']
['8888123456']
[]

In [10]:
#dd-mm-yyyy

s= '12-05-2018'
r = re.compile('^[0-9]{2}-[0-9]{2}-[0-9]{4}$')
l = re.findall(r, s)

print(l)

['12-05-2018']

## RE Module

In [17]:
s= '12-05-2018'
r = re.compile('^[0-9]{2}-[0-9]{2}-[0-9]{4}$')
m = re.search(r, s)
print(m)

s= '12-05-201'
r = re.compile('^[0-9]{2}-[0-9]{2}-[0-9]{4}$')
m = re.search(r, s)
print(m)

s= '12-05-2018'
r = re.compile('^[0-9]{2}-[0-9]{2}-[0-9]{4}$')
m = re.search(r, s)
print(m.group())

<re.Match object; span=(0, 10), match='12-05-2018'>
None
12-05-2018

AttributeError: 'NoneType' object has no attribute 'group'

In [20]:
s= '12-05-201'
r = re.compile('^[0-9]{2}-[0-9]{2}-[0-9]{4}$')
m = re.search(r, s)
print(m.group())

AttributeError: 'NoneType' object has no attribute 'group'

In [23]:
s= '12-05-201'
r = re.compile('^[0-9]{2}-[0-9]{2}-[0-9]{4}$')
m = re.search(r, s)
if m:
    print(m.group())
else:
    print('Pattern not found')

Pattern not found

In [26]:
s= '12-05-2018'
r = re.compile('^([0-9]{2})-([0-9]{2})-([0-9]{4}$)')
m = re.search(r, s)
if m:
    print(m.group(0))
else:
    print('Pattern not found')
    
s= '12-05-2018'
r = re.compile('^([0-9]{2})-([0-9]{2})-([0-9]{4}$)')
m = re.search(r, s)
if m:
    print(m.group(1))
else:
    print('Pattern not found')
    
s= '12-05-2018'
r = re.compile('^([0-9]{2})-([0-9]{2})-([0-9]{4}$)')
m = re.search(r, s)
if m:
    print(m.group(2))
else:
    print('Pattern not found')
    
s= '12-05-2018'
r = re.compile('^([0-9]{2})-([0-9]{2})-([0-9]{4}$)')
m = re.search(r, s)
if m:
    print(m.group(3))
else:
    print('Pattern not found')

12-05-2018
12
05
2018

### indexing

In [31]:
s= '12-05-2018'
r = re.compile('^(?P<date>[0-9]{2})-(?P<month>[0-9]{2})-(?P<year>[0-9]{4}$)')
m = re.search(r, s)
if m:
    print(m.group('date'))
else:
    print('Pattern not found')
    
s= '12-05-2018'
r = re.compile('^(?P<date>[0-9]{2})-(?P<month>[0-9]{2})-(?P<year>[0-9]{4}$)')
m = re.search(r, s)
if m:
    print(m.group('month'))
else:
    print('Pattern not found')
    
s= '12-05-2018'
r = re.compile('^(?P<date>[0-9]{2})-(?P<month>[0-9]{2})-(?P<year>[0-9]{4}$)')
m = re.search(r, s)
if m:
    print(m.group('year'))
else:
    print('Pattern not found')

12
05
2018

In [59]:
s = '+91 8123456789'
r = re.compile('(\+91\s)?[6-9][0-9]{9}')
m = re.search(r, s)

if m:
    print(m.group())
else:
    print('Pattern not found')
    
s = '8123456789'
r = re.compile('(\+91)?[6-9][0-9]{9}')
m = re.search(r, s)

if m:
    print(m.group())
else:
    print('Pattern not found')

+91 8123456789
8123456789

In [57]:
s = '+91 8123456789'
r = re.compile('(?:\+91\s)?([6-9][0-9]{9})')
m = re.search(r, s)

if m:
    print(m.group(0))
else:
    print('Pattern not found')
    
s = '+91 8123456789'
r = re.compile('(?:\+91\s)?([6-9][0-9]{9})')
m = re.search(r, s)

if m:
    print(m.group(1))
else:
    print('Pattern not found')

+91 8123456789
8123456789

# **Functional Programing**

## List Comprehension

In [64]:
l = [100, 200, 300, 400, 500]
l2 = []

for value in l:
    l2.append(value*value)

print(l2)

#using comprehension
l = [100, 200, 300, 400, 500]
l2 = [value*value for value in l]   #what ever output you want, you will specified it at start of list, and then try atteration for loops

print(l2)

[10000, 40000, 90000, 160000, 250000]
[10000, 40000, 90000, 160000, 250000]

In [67]:
l = [10,20,25,30,35,60,65,70,85]
l2 = [value for value in l if value%2 == 0]
print(l2)

l = ['abc', 'abcd', 'abcde', 'zzzzz']
l2 = [len(value) for value in l]
print(l2)

[10, 20, 30, 60, 70]
[3, 4, 5, 5]

In [68]:
#nested for loops
l2 = [(value1, value2) for value1 in range(1, 5) for value2 in range(100,103)]
print(l2)

[(1, 100), (1, 101), (1, 102), (2, 100), (2, 101), (2, 102), (3, 100), (3, 101), (3, 102), (4, 100), (4, 101), (4, 102)]

In [76]:
l = [[1,2,3], [4,5,6], [7,8,9]]
for value in l:
    print(value)
    
l = [[1,2,3], [4,5,6], [7,8,9]]
l2 = []
for value in l:
    for val2 in value:
        l2.append(val2)
print(l2)

#comprehension
l = [[1,2,3], [4,5,6], [7,8,9]]
l2 = [val2 for value in l for val2 in value]
print(l2)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
l = [100, 105, 110, 115, 120]
l2 = ['Even' if value %2 == 0 else 'Odd' for value in l]
print(l2)

['Even', 'Odd', 'Even', 'Odd', 'Even']

## Dict Comprehension

In [81]:
d = {x:x**2 for x in range(1, 11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [84]:
d = {chr(x):x for x in range(97, 123)}
print(d)

d2 = {value:key for key, value in d.items()}
print(d2)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z'}

## Map | Filter | Lambda Functions

### Map

In [89]:
def sqr(num1):
    return num1**2

l = [10, 20, 30, 40, 50, 60]
result = map(sqr, l)
print(result)

print('------------')

def sqr(num1):
    return num1**2

l = [10, 20, 30, 40, 50, 60]
result = map(sqr, l)
print(result)
for value in result:
    print(value)
    
print('------------')

l = [10, 20, 30, 40, 50, 60]
result = list(map(sqr, l))
print(result)

<map object at 0x00000182C9E0A280>
------------
<map object at 0x00000182C9D39C40>
100
400
900
1600
2500
3600
------------
[100, 400, 900, 1600, 2500, 3600]

In [90]:
def add(num1, num2):
    return num1+num2

l1 = [100, 200, 300, 400, 500]
l2 = [10, 20, 30, 40, 50]

result = list(map(add, l1, l2))
print(result)

[110, 220, 330, 440, 550]

### Filter

In [94]:
def check_num(num1):
    if num1 %2 == 0:
        return True
    else:
        return False

l = [100, 115, 120, 125, 130, 140]

result = list(filter(check_num, l))     #filter element that answer is True
print(result)

result = list(map(check_num, l))
print(result)

[100, 120, 130, 140]
[True, False, True, False, True, True]

### Lambda

In [99]:
l1 = [10, 20, 30, 40, 50]

result = list(map(lambda num1:num1**2,l))
print(result)

l = [100, 115, 120, 125, 130, 140]

result = list(filter(lambda num:num %2 == 0, l))
print(result)

[10000, 13225, 14400, 15625, 16900, 19600]
[100, 120, 130, 140]

In [103]:
d = {2:40, 1:50, 5:10, 3:30, 4:20}

l = sorted(d)
print(l)

l = sorted(d.items(), key=lambda x:x[1])
print(l)

[1, 2, 3, 4, 5]
[(5, 10), (4, 20), (3, 30), (2, 40), (1, 50)]

## Generator functions

In [105]:
def printVal(l):
    for value in l:
        print(value)

l = [10, 20, 30, 40, 50, 60]

printVal(l)

10
20
30
40
50
60

In [111]:
def fibo():
   first_num = 0
   second_num = 1
   while(True):
       next_val = first_num + second_num
       yield next_val
       first_num, second_num = second_num, next_val

g = fibo()
print(g)

print('--------')

print(next(g))
print(next(g))
print(next(g))
print(next(g))
print(next(g))

print('--------')

g = fibo()

for value in range(10):
    print(next(g))
    
print('--------')
    
for value in range(20):
    print(next(g))

<generator object fibo at 0x00000182C9EEF7B0>
--------
1
2
3
5
8
--------
1
2
3
5
8
13
21
34
55
89
--------
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269

In [114]:
def printVal(l):
    for value in l:
        yield value

l = [10, 20, 30, 40, 50, 60]

g = printVal(l)
print(next(g))
print(next(g))
print(next(g))
print(next(g))
print(next(g))
print(next(g))
print(next(g))

10
20
30
40
50
60

StopIteration:

In [117]:
l = [10, 20, 30, 40, 50, 60]
l2 = [value * value for value in l]
print(l2)

print('--------')

l = [10, 20, 30, 40, 50, 60]
l2 = (value * value for value in l)
print(l2)

print('--------')

l = [10, 20, 30, 40, 50, 60]
l2 = (value * value for value in l)
print(next(l2))
print(next(l2))
print(next(l2))
print(next(l2))

[100, 400, 900, 1600, 2500, 3600]
--------
<generator object <genexpr> at 0x00000182C9E77510>
--------
100
400
900
1600

## Iterators and Iteratools

In [122]:
l = [100, 200, 300, 400, 500]
i = iter(l)
print(i)

print('------')

print(next(i))
print(next(i))

print('------')
i = iter(l)
for value in i:
    print(value)

<list_iterator object at 0x00000182C9D39130>
------
100
200
------
100
200
300
400
500

In [127]:
import itertools

l1 = [10, 20, 30, 40, 50]
l2 = [100, 200, 300, 400]
l3 = [1000, 2000, 3000, 4000]

i = itertools.chain(l1, l2, l3)
print(i)

print('------')

print(next(i))
print(next(i))
print(next(i))

print('------')

i = itertools.chain(l1, l2, l3)
for value in i:
    print(value)

<itertools.chain object at 0x00000182C9D354C0>
------
10
20
30
------
10
20
30
40
50
100
200
300
400
1000
2000
3000
4000

In [129]:
l = [10, 20, 30, 40, 50]
count = 0
for value in itertools.cycle(l):
    if count < 20:
        print(value)
    else:
        break
    count += 1      #if not using this it will infinite loops

10
20
30
40
50
10
20
30
40
50
10
20
30
40
50
10
20
30
40
50

In [130]:
l = [10, 20, 30, 40, 50]
count = 0
for value in itertools.repeat(l):
    if count < 20:
        print(value)
    else:
        break
    count += 1

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [134]:
l = [10, 20, 30, 40, 50]
i = iter(l)
t = itertools.tee(i)
print(t)

for value in t[0]:
    print(value)

print('--------')

for value in t[1]:
    print(value)

(<itertools._tee object at 0x00000182CA006F00>, <itertools._tee object at 0x00000182CA006A80>)
10
20
30
40
50
--------
10
20
30
40
50

In [137]:
l1 = [10, 20, 30, 40, 50]
l2 = [100, 200, 300, 400]
l3 = [1000, 2000, 3000, 4000]

i = itertools.chain(l1, l2, l3)

for value in itertools.islice(i, 0, 8):
    print(value)

10
20
30
40
50
100
200
300

In [143]:
count = 0
for value in itertools.count(6, 2):
    if count > 6:
        break
    else:
        print(value)
        count+=1


print('-----')

count = 0
for value in itertools.count(6):
    if count > 6:
        break
    else:
        print(value)
        count+=1

print('-----')

count = 0
for value in itertools.count():
    if count > 6:
        break
    else:
        print(value)
        count+=1

6
8
10
12
14
16
18
-----
6
7
8
9
10
11
12
-----
0
1
2
3
4
5
6

In [147]:
l = [1, 2, 3, 4, 5, 6]
print(list(itertools.permutations(l,2)))

print('-----')

print(list(itertools.combinations(l,2)))

[(1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5)]
-----
[(1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 3), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6), (4, 5), (4, 6), (5, 6)]

# **File Operation | JSON, XML Parsing**

## File Operation

In [47]:
# r = read
# r+ = read + write
# w = write
# w+
# a = append
# a+ = 

fp = open('sample1.txt', 'r')
content = fp.read()     #return string
print(content)

Utilitatis causa amicitia est quaesita.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Collatio igitur ista te nihil iuvat. Honesta oratio, Socratica, Platonis etiam. Primum in nostrane potestate est, quid meminerimus? Duo Reges: constructio interrete. Quid, si etiam iucunda memoria est praeteritorum malorum? Si quidem, inquit, tollerem, sed relinquo. An nisi populari fama?

Quamquam id quidem licebit iis existimare, qui legerint. Summum a vobis bonum voluptas dicitur. At hoc in eo M. Refert tamen, quo modo. Quid sequatur, quid repugnet, vident. Iam id ipsum absurdum, maximum malum neglegi.                                        

Sample line addedusing python script

In [43]:
fp = open('sample1.txt', 'r')
content = fp.read(25)       #return 25 character
print(content)

Utilitatis causa amicitia

### Readlines | Readline

In [19]:
fp = open('sample1.txt', 'r')
content = fp.readlines()    #return list
print(content)
print(type(content))

['Utilitatis causa amicitia est quaesita.\n', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Collatio igitur ista te nihil iuvat. Honesta oratio, Socratica, Platonis etiam. Primum in nostrane potestate est, quid meminerimus? Duo Reges: constructio interrete. Quid, si etiam iucunda memoria est praeteritorum malorum? Si quidem, inquit, tollerem, sed relinquo. An nisi populari fama?\n', '\n', 'Quamquam id quidem licebit iis existimare, qui legerint. Summum a vobis bonum voluptas dicitur. At hoc in eo M. Refert tamen, quo modo. Quid sequatur, quid repugnet, vident. Iam id ipsum absurdum, maximum malum neglegi.']
<class 'list'>
[]

In [37]:
fp = open('sample1.txt', 'r')
content = fp.readline()
print(content)

print('----------------')

content = fp.readline()
print(content)

Utilitatis causa amicitia est quaesita.

----------------
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Collatio igitur ista te nihil iuvat. Honesta oratio, Socratica, Platonis etiam. Primum in nostrane potestate est, quid meminerimus? Duo Reges: constructio interrete. Quid, si etiam iucunda memoria est praeteritorum malorum? Si quidem, inquit, tollerem, sed relinquo. An nisi populari fama?

## Read | Write | Append

In [27]:
fp = open('sample2.txt', 'w')
content = fp.write('Write this line to a file')

fp = open('sample2.txt', 'r')
content = fp.read()
print(content)

fp = open('sample2.txt', 'w')       # will overwrite file
content = fp.write('Write this line to a file 1')

fp = open('sample2.txt', 'r')
content = fp.read()
print(content)

Write this line to a file
Write this line to a file 1

### Tell | Seek

In [28]:
# tell = current fp position

fp = open('sample3.txt', 'w+')
print(fp.tell())

content = fp.write('sample text line 1')
print(fp.tell())

content = fp.read()
print(fp.tell())
print(content)

0
18
18

In [30]:
# seek(offset, position) = to change fp position
# offset => number of char
# position => 0 => start of the file
#             1 => current position
#             2 => end of the file

fp = open('sample3.txt', 'w+')
print(fp.tell())

content = fp.write('sample text line 1')
print(fp.tell())

fp.seek(0,0)
print(fp.tell())

content = fp.read()
print(fp.tell())
print(content)

0
18
0
18
sample text line 1

## Parsing JSON

In [69]:
# json objects            dict{'key': 'value'}
# numbers 10 10.55        int, float
# array [10, 'string']    list, tuple
# " ", ' ', """ """       singlequote, doublequote, triple quote

import json

handle = open('jsonsample.json', 'r')
content = handle.read()
print(content)
handle.close()

{
    "database": {
        "host": "localhost",
        "port": 3310,
        "user": "root",
        "password": "12345"
    },
    "files": {
        "log": "/log/app/log",
        "errorLog": "log/error.log"
    }
}

In [70]:
d = json.loads(content)
print(d)

{'database': {'host': 'localhost', 'port': 3310, 'user': 'root', 'password': '12345'}, 'files': {'log': '/log/app/log', 'errorLog': 'log/error.log'}}

In [71]:
print(d['database'])

print('--------')

print(d['database']['port'])

print('--------')

d['database']['port'] = 3330        #to modified the value
print(d)

print('--------')

print(d['files']['log'])
d['files']['log'] = ('/log/app.log/', '/log/mysqyl/app/log')
print(d)

{'host': 'localhost', 'port': 3310, 'user': 'root', 'password': '12345'}
--------
3310
--------
{'database': {'host': 'localhost', 'port': 3330, 'user': 'root', 'password': '12345'}, 'files': {'log': '/log/app/log', 'errorLog': 'log/error.log'}}
--------
/log/app/log
{'database': {'host': 'localhost', 'port': 3330, 'user': 'root', 'password': '12345'}, 'files': {'log': ('/log/app.log/', '/log/mysqyl/app/log'), 'errorLog': 'log/error.log'}}

In [73]:
#creating newfile for output
j = json.dumps(d, indent=4)
# print(j)
handle = open('json_output.json', 'w')
handle.write(j)
handle.close()

## Parsing XML (xmltodict)

In [89]:
import xmltodict

handle = open('xml_input.xml', 'r')

content = handle.read()
# print(content)

d = xmltodict.parse(content)
print(d)

print('-------------')
print(d['Result']['RequestCode'])

print('-------------')
d['Result']['RequestCode'] = 4
print(d)

print('-------------')
x = xmltodict.unparse(d)
print(x)

{'Result': {'@success': 'false', 'Message': "Cannot open remote file '/home/user/examplefile.txt'.", 'ErrorCode': '2', 'RequestCode': '3'}}
-------------
3
-------------
{'Result': {'@success': 'false', 'Message': "Cannot open remote file '/home/user/examplefile.txt'.", 'ErrorCode': '2', 'RequestCode': 4}}
-------------
<?xml version="1.0" encoding="utf-8"?>
<Result success="false"><Message>Cannot open remote file '/home/user/examplefile.txt'.</Message><ErrorCode>2</ErrorCode><RequestCode>4</RequestCode></Result>

# **Object Oriented Programing**

## Introduction to Object Oriented Programing

### Creating Object

In [110]:
# cust id
# name
# balance

# deposite
# withdraw

class Account:
    def __init__(self, cust_id, name, initial_bal=0):
        self.id = cust_id
        self.name = name
        self.balance = initial_bal
        
    def get_balance(self):
        return self.balance

    def deposite(self, amount):
        self.balance = self.balance + amount
        return self.balance
        
    def withdraw(self, amount):
        if amount > self.balance:
            return 'Insufficient Balance'
        else:
            self.balance -= amount
            return self.balance

customer1 = Account('101', 'ABC')
# print(customer1)

customer2 = Account('102', 'DEF')
# print(customer2)

customer3 = Account('103', 'GHI')
# print(customer3)
customer4 = Account('104', 'JKL')

# print(customer1.id, customer1.name, customer1.balance)

# print(customer1.get_balance())
# print(customer1.deposite(50000))
# print(customer1.withdraw(51000))
# print(customer1.withdraw(1000))

customer1.deposite(50000)
customer2.deposite(8000)
customer3.deposite(10000)
customer4.deposite(70000)

l = [customer1, customer2, customer3, customer4]

for obj in l:
    if obj.balance < 10000:
        print(obj.id, obj.name)

102 DEF

### Private Variable

In [123]:
# if we want restrict access to a variable defining outside the class
#Example for private variable(def)

class Account:
    def __init__(self, cust_id, name, initial_bal=0):
        self.__id = cust_id
        self.__name = name
        self.__balance = initial_bal
        
    def get_balance(self):
        return self.__balance

    def get_id(self):
        return self.__id
    
    def get_name(self):
        return self.__name
    
    def deposite(self, amount):
        self.__balance = self.__balance + amount
        return self.__balance
        
    def withdraw(self, amount):
        if amount > self.__balance:
            return 'Insufficient Balance'
        else:
            self.__balance -= amount
            return self.__balance
        
customer1 = Account('101', 'ABC')

customer2 = Account('102', 'DEF')

customer3 = Account('103', 'GHI')

customer4 = Account('104', 'JKL')

customer1.deposite(50000)
customer2.deposite(8000)
customer3.deposite(10000)
customer4.deposite(70000)

l = [customer1, customer2, customer3, customer4]

for obj in l:
    if obj.get_balance() < 10000:
        print(obj.get_id(), obj.get_name())

102 DEF

### how to access private variable

In [124]:
print(customer1.id)     #will result error

AttributeError: 'Account' object has no attribute 'id'

In [125]:
print(customer1.__id)     #will result error

AttributeError: 'Account' object has no attribute '__id'

In [128]:
print(customer1._Account__id)

print('-----------')

print(customer1.__dict__)

101
-----------
{'_Account__id': '101', '_Account__name': 'ABC', '_Account__balance': 50000}

## Class Method and Static Method

# A